@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.content {
    height: 100vh;
    font-family: 'Source Sans 3', sans-serif;
}

.content {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.page {
    height: 100%;
}

.app {
    display: flex;
    /* position: relative; */
    height: 100%;
}

/** Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*::-webkit-scrollbar-track:active {
    background-color: #858585 !important;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #858585 !important;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #858585 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #858585;

    border-radius: 12px;
}
